---
interface Props {
  orgChar?: string;
  org?: string;
  deptChar?: string;
  dept?: string;
  title?: string;
  help1?: string;
  help2?: string;
}

const {
  title = "meny",
  org = "kommunedata",
  dept = "vestlandet",
  orgChar = org[0],
  deptChar = dept[0],
  help1 = "Bruk piltastene for å velge.",
  help2 = "Alt-F9 for å endre på menyen.",
} = Astro.props;

const theCrt = {
  old: {
    name: "flickery",
    duration: "0.2s",
    easing: "step-start",
    fillMode: "forwards",
  },
  new: {
    name: "meirFlickery",
    duration: "0.3s",
    easing: "linear(0, 0.5,0,-0.5,0.5,0.8,0.2,-0.1,0.6,1.2, 1)",
    fillMode: "forwards",
  },
};

const crtFx = {
  forwards: theCrt,
  backwards: theCrt,
};
---

<header class="w-100">
  <section class="w-100 font-mono max-md:text-2xl text-xl">
    <div
      class="justify-evenly max-md:flex max-md:flex-col grid grid-cols-12 m-4 gap-4 items-center tracking-widest max-lg:text-md"
    >
      <div
        class="ident-box col-span-4 col-start-1 truncate leading-tight tracking-widest"
        transition:name="green-box"
        transition:animate={crtFx}
      >
        <table class="">
          <tr class="">
            <td class="uppercase">{orgChar}</td>
            <td>{org}</td>
          </tr>
          <tr class="right">
            <td class="uppercase">{deptChar}</td>
            <td>{dept}</td>
          </tr>
        </table>
      </div>
    </div>
    <div
      class="mx-4 col-span-2 shrink-0 col-start-6 max-md:hidden max-xl:col-span-3 max-md:col-span-3"
      transition:name="banner-title-box"
      transition:animate="none"
    >
      <div
        class="border-double
      border-8
      p-2
      m-2
      text-center"
      >
        <h1 class="uppercase">
          {title}
          <br />
          <span class="overflow-hidden whitespace-nowrap text-clip block"
            >======</span
          >
        </h1>
      </div>
    </div>
    <div class="col-span-3 col-end-12 max-md:invisible whitespace-nowrap"
    transition:name="banner-help-box"
    transition:animate="fade">
      <span class="text-base">
        {help1}
        <br />
        {help2}
      </span>
    </div>
  </section>

  <style>
    .ident-box {
      color: #18b218;
      font-family: monospace;
      font-weight: bold;
    }
    table td {
      margin: 2rem 0;
    }

    table td:nth-child(1) {
      border-color: #18b218;
      text-align: right;
      border-width: 0.225rem;
      padding: 0.525rem 0.125rem 0.525rem 0.325rem;
    }

    table td:nth-child(2) {
      padding-left: 0.225rem;
    }

    table tr:nth-child(1) td:nth-child(1) {
      border-bottom-color: transparent;
    }

    table tr:nth-child(2) td:nth-child(1) {
      border-top-color: transparent;
    }

    @keyframes flickery {
      0% {
        filter: drop-shadow(5px 4px 0 green);
      }

      20% {
        filter: drop-shadow(2px 8px 0 green) invert();
      }

      30% {
        filter: drop-shadow(-12px 0px 0 white) opacity(75%);
      }
      50% {
        filter: drop-shadow(0px -8px 0 blue) blur(12px);
      }
      60% {
        filter: drop-shadow(-4px -10px 0 yellow);
      }

      65% {
        filter: drop-shadow(-2px -6px 0 red) contrast(200%) brightness(100%);
      }

      80% {
        filter: drop-shadow(6px -1px 0 orange) hue-rotate(90deg);
      }

      100% {
        filter: drop-shadow(0px 0px 0 transparent);
      }
    }
    @keyframes meirFlickery {
      0% {
        filter: drop-shadow(2px -12px 0 green);
      }

      20% {
        filter: drop-shadow(-10px 4px 0 green) invert() contrast(12%);
      }

      30% {
        filter: drop-shadow(-2px 3px 0 white) opacity(75%);
      }
      50% {
        filter: drop-shadow(0px -8px 0 blue) blur(2px);
      }
      60% {
        filter: drop-shadow(-20px -1px 0 cyan) opacity(45%);
      }

      65% {
        filter: drop-shadow(-2px -9px 0 red) opacity(12%);
      }

      80% {
        filter: drop-shadow(3px -1px 0 green) hue-rotate(90deg) opacity(33%)
          blur(12px);
      }

      100% {
        filter: drop-shadow(0px 0px 0 transparent);
      }
    }
  </style>
</header>
